
    <section class="single-blog-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="border-top">
                        <div class="blog-area">

                            <h1>Bienvenue {{ user.email }}!</h1>

                            <p>Veuillez activer votre compte en suivant <a href="{{ url('activateAccount',{'id': user.id}) }}">ce lien</a>.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



