{% extends 'general.html.twig' %}

{% block content %}
    <section class="single-blog-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="border-top">
                        <div class="blog-area">

                            <h2 class="inscriptionTitle">
                                {% if app.request.attributes.get('_route') == 'updateUserAdmin' %}
                                Modifier utilisateur
                                {% elseif app.request.attributes.get('_route') == 'userCreationPage' %}
                                    Création utilisateur
                                {% endif %}
                            </h2>

                            {{ form_start(userForm) }}
                            {{ form_row(userForm.email) }}
                            {{ form_row(userForm.roles) }}
                            {{ form_row(userForm.name) }}
                            {{ form_row(userForm.password) }}
                            {{ form_row(userForm.profileImage) }}
                            {{ form_row(userForm.locked) }}
                            {{ form_row(userForm.active) }}
                            <div class="inscriptionButton">
                                <input type="submit" id="inscrBut" value="Valider">
                            </div>

                            {{ form_end(userForm) }}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}