{% extends 'general.html.twig' %}

{% block content %}
    <section class="single-blog-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="border-top">
                        <div class="col-md-8">
                            <div class="blog-area">
                                <div class="blog-area-part">
                                    <h2 class="articlelTitle">{{ article.titreArticle }}</h2>

                                    <img class="articleImage" src="{{ asset('img/' ~ article.imageArticle) }}" alt="">

                                    <h3  class="articlelTitle">{{ article.sousTitreArticle }}</h3>

                                    <p>{{ article.texteArticle }} </p>

                                </div>

                                  {% if is_granted('ROLE_ADMIN') %}
                                      <a href="{{ path("articleUpdatePage", {'id': article.id}) }}"><button class="ActionButton" type="submit">Modifier l'article</button></a>
                                     <a href="{{ path("deleteArticle", {'id': article.id}) }}"><button class="ActionButton" type="submit">Supprimer l'article</button></a>
                                  {% endif %}




                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="blog-area">
                                <div class="blog-area-part">
                                    <h3>Informations roman</h3>
                                    <h4>Titre : {{ roman.titreRoman }}</h4>
                                    <h4>Auteur : {{ roman.auteur }}</h4>
                                    <h4>Genres : {{ roman.genres }}</h4>
                                    <h4>Maison d'édition : {{ roman.maisonEdition }}</h4>
                                    <h4>Année d'édition : {{ roman.editionYear }}</h4>
                                    <h4>Note :
                                        {% if roman.note == 0 %}
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        {% elseif roman.note == 1 %}
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        {% elseif roman.note == 2 %}
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        {% elseif roman.note == 3 %}
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        {% elseif roman.note == 4 %}
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        {% elseif roman.note == 5 %}
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        {% else %}
                                        <p>Il y a une erreur dans la note</p>
                                        {% endif %}
                                        </h4>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a href="{{ path("updateRoman", {'id': roman.id}) }}"><button class="ActionButton" type="submit">Modifier les informations du roman</button></a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-md-12">
                    <div class="border-top">
                        <div class="blog-area">
                            <div class="blog-area-part">
                                <div class="commententries">
                                    <h2 class="commensTitle">Commentaires</h2>

                                    <ul class="commentlist">
                                        {% for comment in comments %}
                                        <li>
                                            <article class="comment">
                                                <header class="comment-author">
                                                     <img src="{{ asset('img/' ~ comment.userId.profileImage) }}" alt="">
                                                </header>
                                                <section class="comment-details">
                                                    <div class="author-name">
                                                         <h5><a href="#">{{ comment.userId.name }}</a></h5>
                                                        <p>Le {{ comment.createdAt | date("d/m/Y") }} à {{ comment.createdAt | date('H:i') }}</p>
                                                    </div>
                                                    <div class="comment-body">
                                                        <p>{{ comment.texteCommentaire }} </p>
                                                    </div>
                                                    {% if app.user and app.user.active == true and app.user.locked == false and comment.userId == app.user %}
                                                        <a href="{{ path("updateComment", {'id': comment.id}) }}"><button class="ActionButton" type="submit">Modifier l'article</button></a>
                                                        <a href="{{ path("deleteComment", {'id': comment.id}) }}"><button class="ActionButton" type="submit">Supprimer l'article</button></a>
                                                    {% elseif is_granted('ROLE_ADMIN') %}
                                                        <a href="{{ path("updateComment", {'id': comment.id}) }}"><button class="ActionButton" type="submit">Modifier l'article</button></a>
                                                        <a href="{{ path("deleteComment", {'id': comment.id}) }}"><button class="ActionButton" type="submit">Supprimer l'article</button></a>
                                                    {% else %}

                                                    {% endif %}

                                                </section>
                                            </article>

                                        </li>
                                        {% endfor %}

                                    </ul>

                                </div>
                            </div>
                        </div>

                        {% if not app.user %}
                        <div class="connectionRequiredMessage">
                            <p class="textCommRequ">Seules les personnes connectées peuvent laisser des commentaires.
                                <a href="{{ path('connectionPage') }}">Connectez-vous</a> ou <a href="{{ path('registrationPage') }}">inscrivez-vous</a>.</p>
                        </div>
                            {% elseif app.user.locked == true %}
                                <div class="connectionRequiredMessage">
                                    <p class="textCommRequ">Vous ne pouvez laisser des commentaires car vous avez été bloqué. Veuillez contacter le(s) administrateur/trice(s) pour discuter de cette décision.</p>
                                </div>
                            {% elseif app.user.active == false %}
                                    <div class="connectionRequiredMessage">
                                        <p class="textCommRequ">Vous ne pouvez laisser des commentaires car votre compte n'a pas encore été validé. Veuillez utiliser le lien reçu en email pour activer votre  compte.</p>
                                    </div>
                        {% else %}

                            {{ form_start(commentsForm) }}

                            {{ form_row(commentsForm.texte_commentaire, {'label':'Laisser un commentaire :'}) }}
                            <div class="commentPost">
                                <input type="submit" value="Envoyer">
                            </div>
                            {{ form_end(commentsForm) }}

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}