{% extends 'general.html.twig' %}

{% block content %}
<section class="single-blog-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="border-top">
                    <div class="blog-area">

                        <h2 class="inscriptionTitle">Changer profil</h2>

                        {{ form_start(userForm) }}
                        {{ form_row(userForm.email) }}
                        {{ form_row(userForm.name) }}
                        {{ form_row(userForm.profileImage) }}
                        <div class="inscriptionButton">
                            <input type="submit" id="inscrBut" value="Valider">
                        </div>

                        {{ form_end(userForm) }}

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}