{% extends 'general.html.twig' %}

{% block content %}
    <section class="single-blog-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="border-top">
                        <div class="blog-area">

                            {% if app.user %}
                                <div class="col-md-2"><p></p></div>
                                <div class="col-md-8">
                                    <p>Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">se déconnecter</a></p>
                                </div>
                                <div class="col-md-2"><p></p></div>
                            {% else %}
                                <h2 class="connexionTitle">Connexion</h2>
                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}

                                <form action="{{ path('connectionPage') }}" method="post">
                                    <div class="connexionForm">
                                        <input type="email" required name="_username" id="email" placeholder="Adresse mail">
                                    </div>
                                    <div class="connexionForm">
                                        <input type="password" required name="_password" id="password" placeholder="Password">
                                    </div>
                                    <div class="connexionButton">
                                        <input type="submit" id="connexBut" value="Connexion">
                                    </div>
                                    <div class="connexionForm">
                                        <p><a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a></p>
                                    </div>

                                </form>

                            {% endif %}



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}