{% extends 'general.html.twig' %}

{% block content %}
    <section class="single-blog-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="border-top">
                        <div class="col-md-2"><p></p></div>
                        <div class="col-md-8">
                            <div class="blog-area">
                                <div class="blog-area-part">

                                    <h2>Contact</h2>
                                    <p> Vous voulez me laisser un message directement ? Vous pouvez me contacter via ce formulaire !</p>

                                    <div class="for-style">
                                        {{ form_start(contactForm) }}
                                        {{ form_row(contactForm.emailContact, {'label':'Votre email :'}) }}
                                        {{ form_row(contactForm.nameContact, {'label':'Votre nom :'}) }}
                                        {{ form_row(contactForm.textContact, {'label':'Votre message :'}) }}
                                        <div class="connexionButton">
                                            <input type="submit" id="connexBut" value="Valider">
                                        </div>
                                        {{ form_end(contactForm) }}

                                    </div>

                                </div>


                            </div>
                        </div>
                        <div class="col-md-2"><p></p></div>

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}