{% extends 'general.html.twig' %}

{% block content %}
    <section class="single-blog-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="border-top">

                        <div class="blog-area">
                            <div class="blog-area-part">
                                <h2>{% if editMode %}
                                    Modifier l'Article
                                    {% else %}
                                    Créer un nouvel article
                                    {% endif %}
                                </h2>

                                {{ form_start(articleForm) }}
                                <h3>Données Article :</h3>

                                {{ form_row(articleForm.titre_article, {'label': 'Titre de l\'article :' }) }}
                                {{ form_row(articleForm.section, {'label': 'Choisir la section de l\'article :'}) }}
                                {{ form_row(articleForm.textePresentation, {'label': 'Texte de présentation de l\'article :'}) }}
                                {{ form_row(articleForm.sousTitreArticle, {'label': 'Sous-titre de l\'article :'}) }}
                                {{ form_row(articleForm.image_article, {'label': 'Choisir une image :'}) }}
                                {{ form_row(articleForm.texte_article, {'label': 'Ecrire le texte de l\'article :'}) }}

                                <h3>Données Roman :</h3>
                                {{ form_row(articleForm.romanId.titreRoman, {'label': 'Le titre du roman : :'}) }}
                                {{ form_row(articleForm.romanId.auteur, {'label': 'L\'auteur du roman :'}) }}
                                {{ form_row(articleForm.romanId.genres, {'label': 'Le/les genre(s) du roman :'}) }}
                                {{ form_row(articleForm.romanId.maisonEdition, {'label': 'La maison d\'édition du roman :'}) }}
                                {{ form_row(articleForm.romanId.editionYear, {'label': 'L\'année d\'édition du roman :'}) }}
                                {{ form_row(articleForm.romanId.note, {'label': 'La note du roman :'}) }}

                                <br>
                                <div>
                                    <input type="submit" value="{% if editMode %}
                                    Enregistrer les modifications
                                    {% else %}
                                    Enregistrer l'article
                                    {% endif %}">
                                </div>

                                {{ form_end(articleForm) }}

                              {#
                                {{ form_start(romanForm) }}

                                <label for="">Titre du roman :</label>
                                {{ form_widget(romanForm.titreRoman) }}
                                <label for="">Nom de l'auteur :</label>
                                {{ form_widget(romanForm.auteur) }}
                                <label for="">Genre(s) du roman :</label>
                                {{ form_widget(romanForm.genres) }}
                                <label for="">Maison d'édition du roman :</label>
                                {{ form_widget(romanForm.maisonEdition) }}
                                <label for="">Année d'édition du roman :</label>
                                {{ form_widget(romanForm.editionYear) }}
                                <label for="">Donner une note :</label>
                                {{ form_widget(romanForm.note) }}


                                {{ form_end(romanForm) }} #}



                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}