{% extends 'general.html.twig' %}

{% block content %}
    <section class="single-blog-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="border-top">
                        <div class="blog-area">

                            <h2 class="connexionTitle">Modifier commentaire</h2>

                            {{ form_start(commentsForm) }}

                            {{ form_row(commentsForm.texte_commentaire, {'label':'Modifier votre commentaire :'}) }}
                            <div class="commentPost">
                                <input type="submit" value="Envoyer">
                            </div>
                            {{ form_end(commentsForm) }}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}