{% extends 'general.html.twig' %}

{% block content %}
    <section class="bg-text-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="bg-text">
                        <h3>Le blog de Thibault</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="blog-post-area">
        <div class="container">
            <div class="border-top">
                <div class="blog-post-area-style">

                    <div class="row">
                        {% for lastArticles in articlesPage.items %}
                        <div class="col-md-4">
                            <div class="single-post">
                                <a href="{{ path('articlePage', {'id': lastArticles.id}) }}">
                                    <img class="smallImages" src="{{ asset('img/' ~ lastArticles.imageArticle) }}" alt="">
                                </a>
                                <h3>
                                    <a href="{{ path('articlePage', {'id': lastArticles.id}) }}">{{lastArticles.titreArticle}}</a>
                                </h3>
                                <p>{{ lastArticles.textePresentation }}</p>
                                <h4><span>Créé le {{ lastArticles.createdAt | date("d/m/Y") }}</span></h4>
                            </div>
                        </div>
                        {% endfor %}


                    </div>




                </div>
            </div>
        </div>
        <div class="pegination">
            <!--
            <ul>
                <li><i class="fa fa-angle-left" aria-hidden="true"></i></li>
                <li class="active">1</li>
                <li>2</li>
                <li>3</li>
                <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
            </ul>
-->

            <div class="nav-links">
                {% for i in 1..(articlesPage.totalItemCount/articlesPage.itemNumberPerPage + 1) | round(0, 'floor') %}
                    <a class="page-numbers {{   i == app.request.get('page') ? 'current' : '' }}"
                       href="{{ url(app.request.get('_route'), app.request.query.all() | merge({page: i}) ) }}">{{ i }}</a>
                {% endfor %}

                {# <a class="page-numbers" href="{{ url(app.request.get('_route'), {'name': app.request.get('name'), 'page': (i+1)}) }}"><i class="fa fa-angle-right" aria-hidden="true"></i></a> #}
            </div>
        </div>

    </section>
{% endblock %}
