{% extends 'general.html.twig' %}

{% block content %}
    <section class="single-blog-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="border-top">

                        <div class="blog-area">
                            <div class="blog-area-part">
                                <h2>Modifier le roman</h2>

                                <h3>Données Roman :</h3>
                                {{ form_start(romanForm) }}
                                <label for="">Le titre du roman :</label>
                                {{ form_widget(romanForm.titreRoman) }}
                                <label for="">L'auteur du roman :</label>
                                {{ form_widget(romanForm.auteur) }}
                                <label for="">Le/les genre(s) du roman :</label>
                                {{ form_widget(romanForm.genres) }}
                                <label for="">La maison d'édition du roman:</label>
                                {{ form_widget(romanForm.maisonEdition) }}
                                <label for="">L'année d'édition du roman :</label>
                                {{ form_widget(romanForm.editionYear) }}
                                <label for="">La note du roman :</label>
                                {{ form_widget(romanForm.note) }}


                                <button class="ActionButton" type="submit">Enregistrer les modifications</button>
                                {{ form_end(romanForm) }}



                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}