{% extends 'general.html.twig' %}

{% block content %}
    <section class="single-blog-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="border-top">
                        <div class="blog-area">
                            <div class="blog-area-part">
                                {% if app.user.active == false %}
                                <h1>Bienvenue {{ userData.email }}!</h1>

                                <p>Veuillez utiliser le lien reçu en email pour activer votre  compte.</p>
                                {% else %}

                                <h2>Profil</h2>
                                <div class="col-md-4">
                                    <img src="{{ asset('img/' ~ userData.profileImage) }}" alt="">
                                </div>
                                <div class="col-md-8">
                                    <p><span>Nom : </span> {{ userData.name }}</p>
                                    <p><span>Adresse email :</span> {{ userData.email }}</p>
                                    <p><span>Statut : </span>
                                        {% if userData.locked == false %}
                                        Clean
                                        {% else %}
                                        Bloqué
                                        {% endif %}
                                    </p>
                                    <a href="{{ path('updateUser', {'id': userData.id})  }}"><button type="button">Modifier</button></a>
                                    <a href="{{ path('app_forgot_password_request') }}"><button type="button">Changer le mot de passe</button></a>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <br><br><a href="{{ path('adminGestionArticlesPage') }}"><button type="button">Gestion Admin</button></a>

                                    {% endif %}


                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}