{% extends 'general.html.twig' %}

{% block content %}
    <section class="blog-post-area">
        <div class="container">
            <div class="border-top">
                <div class="blog-post-area-style">

                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <h2>Votre recherche :</h2>
                            {{ form_start(searchForm) }}
                            {{ form_row(searchForm.titre_article, {'label': " ", 'attr': {'placeholder': 'Nom de l\'article recherché...'}}) }}
                            {{ form_row(searchForm.section, {'label': " "}) }}
                            <button class="btn-primary" type="submit"><i class="fas fa-search"></i></button>
                            {{ form_end(searchForm) }}
                        </div>

                        <div class="col-md-3"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <h2> Résultat(s) de la recherche :</h2>
                        </div>
                        <div class="col-md-4"></div>
                    </div>


                    <div class="row">
                        {% for articlesResults in articlesSearch.items %}
                            <div class="col-md-4">
                                <div class="single-post">
                                    <a href="{{ path('articlePage', {'id': articlesResults.id}) }}"><img class="smallImages" src="{{ asset('img/' ~ articlesResults.imageArticle) }}" alt=""></a>
                                    <h3><a href="{{ path('articlePage', {'id': articlesResults.id}) }}">{{articlesResults.titreArticle}}</a></h3>
                                    <p>{{ articlesResults.textePresentation }}</p>
                                    <h4><span>Créé le {{ articlesResults.createdAt | date("d/m/Y") }}</span></h4>
                                </div>
                            </div>
                        {% endfor %}
                    </div>



                </div>
            </div>
        </div>
        <div class="pegination">


            <div class="nav-links">
                {% for i in 1..(articlesSearch.totalItemCount/articlesSearch.itemNumberPerPage + 1) | round(0, 'floor') %}
                    <a class="page-numbers {{   i == app.request.get('page') ? 'current' : '' }}"
                       href="{{ url(app.request.get('_route'), app.request.query.all() | merge({page: i}) ) }}">{{ i }}</a>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}