{% extends 'general.html.twig' %}

{% block content %}
    <section class="blog-post-area">
        <div class="container">
            <div class="border-top">
                <div class="blog-post-area-style">

                    <div class="row">

                        {% for sectionType in sectionPages.items %}
                        <div class="col-md-4">
                            <div class="single-post">
                                <a href="{{ path('articlePage', {id: sectionType.id}) }}">
                                    <img class="smallImages" src="{{ asset('img/' ~ sectionType.imageArticle) }}" alt="">
                                </a>
                                <h3>
                                    <a href="{{ path('articlePage', {id: sectionType.id}) }}">{{sectionType.titreArticle}}</a>
                                </h3>
                                <p>{{ sectionType.textePresentation }}</p>
                                <h4><span>Créé le {{ sectionType.createdAt | date("d/m/Y") }}</span></h4>
                            </div>
                        </div>
                        {% endfor %}

                    </div>

                    {% if is_granted('ROLE_ADMIN') %}
                    <div class="single-blog-area">
                        <div class="col-md-4">
                            <form action="{{ path('articleCreationPage') }}" method="post">
                                <div class="creationButton">
                                    <input type="submit" id="createArt" value="Créer un article">
                                </div>
                            </form>
                        </div>
                        <div class="col-md-8"><p> </p></div>
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
        <div class="pegination">


            <div class="nav-links">

                {% for i in 1..(sectionPages.totalItemCount/sectionPages.itemNumberPerPage + 1) | round(0, 'floor') %}
                    <a class="page-numbers {{   i == app.request.get('page') ? 'current' : '' }}"
                       href="{{ url(app.request.get('_route'), {'sectionName': app.request.get('sectionName'), 'page':i}  ) }}">{{ i }}</a>
                {% endfor %}

                {# {% for i in 1..(sectionPages.totalItemCount/result.results.itemNumberPerPage + 1) | round(0, 'floor')  %}
                    <a href="{{  url(app.request.get('_route'), app.request.query.all() | merge({page: i}) ) }}"
                       class="page-link btn btn-sm btn-primary {{  i == app.request.get('page') ? 'current' : ''  }}">{{ i }}</a>
                {% endfor %} #}



            </div>
        </div>
    </section>

{% endblock %}