{% extends 'general.html.twig' %}
{% block content %}
    <section class="single-blog-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="border-top">
                        <div class="blog-area">

                            <h1>Bienvenue {{ user.email }}!</h1>

                            <p>Veuillez utiliser le lien reçu en email pour activer votre  compte.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock %}