{% extends 'general.html.twig' %}

{% block content %}
    <section class="single-blog-area">
    <div class="container">
    <div class="row">
    <div class="col-md-12">
    <div class="border-top">
    <div class="blog-area">
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1>Reset your password</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Enter your email address and we we will send you a
                link to reset your password.
            </small>
        </div>

        <button class="btn btn-primary">Send password reset email</button>
    {{ form_end(requestForm) }}
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
{% endblock %}