{% extends 'general.html.twig' %}

{% block content %}
    <section class="single-blog-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="border-top">
                        <div class="blog-area">

                            <h2 class="connexionTitle">Table de gestion d'admin</h2>
                            <div class="adminMenu">
                                <ul>
                                    <li class="{% if app.request.attributes.get('_route') == 'adminGestionArticlesPage' %}active{% endif %}">
                                        <a class="tablesLinks" href="{{ path('adminGestionArticlesPage') }}">Article</a>
                                    </li>
                                    <li class="{% if app.request.attributes.get('_route') == 'adminGestionRomanPage' %}active{% endif %}">
                                        <a class="tablesLinks" href="{{ path('adminGestionRomanPage') }}">Romans</a>
                                    </li>
                                    <li class="{% if app.request.attributes.get('_route') == 'adminGestionUserPage' %}active{% endif %}">
                                        <a class="tablesLinks" href="{{ path('adminGestionUserPage') }}">Utilisateurs</a>
                                    </li>
                                    <li class="{% if app.request.attributes.get('_route') == 'adminGestionCommPage' %}active{% endif %}">
                                        <a class="tablesLinks" href="{{ path('adminGestionCommPage') }}">Commentaires</a>
                                    </li>
                                    <li class="{% if app.request.attributes.get('_route') == 'adminGestionContactPage' %}active{% endif %}">
                                        <a class="tablesLinks" href="{{ path('adminGestionContactPage') }}">Messages reçus</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover">

                                            {% if app.request.attributes.get('_route') == 'adminGestionArticlesPage' %}
                                                <thead class="thead-light">
                                            <tr>
                                                <th>Titre article</th>
                                                <th>Texte Article</th>
                                                <th>Image Article</th>
                                                <th>Section</th>
                                                <th>Texte de présentation</th>
                                                <th>Sous-titre article</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            {% for Article in Articles %}
                                                <tr>
                                                <td>{{ Article.titreArticle }}</td>
                                                <td>{{ Article.texteArticle }}</td>
                                                <td><img class="smallImages" src="{{ asset('img/' ~ Article.imageArticle) }}" alt=""></td>
                                                <td>{{ Article.section }}</td>
                                                <td>{{ Article.textePresentation }}</td>
                                                <td>{{ Article.sousTitreArticle }}</td>
                                                <td><a href="{{ path('articleAdminUpdatePage', {'id': Article.id}) }}">Modifier</a></td>
                                                <td><a href="{{ path('adminDeleteArticle', {'id': Article.id}) }}">Supprimer</a></td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                            <a href="{{ path('articleAdminCreationPage') }}">Créer un Article</a>
                                            {% elseif app.request.attributes.get('_route') == 'adminGestionRomanPage' %}
                                                <thead class="thead-light">
                                                <tr>
                                                    <th>Titre roman</th>
                                                    <th>Texte roman</th>
                                                    <th>Genre roman</th>
                                                    <th>Maison d'édition</th>
                                                    <th>Année d'édition</th>
                                                    <th>Note</th>
                                                    <th>Article associé</th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                {% for roman in romans %}
                                                    <tr>
                                                    <td>{{ roman.titreRoman }}</td>
                                                    <td>{{ roman.auteur }}</td>
                                                    <td>{{ roman.genres }}</td>
                                                    <td>{{ roman.maisonEdition }}</td>
                                                    <td>{{ roman.editionYear }}</td>
                                                        <td>{{ roman.note }}</td>
                                                        <td>{{ roman.idArticle.titreArticle }}</td>
                                                    <td><a href="{{ path('adminUpdateRoman', {'id': roman.id}) }}">Modifier</a></td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            {% elseif app.request.attributes.get('_route') == 'adminGestionUserPage' %}
                                                <thead class="thead-light">
                                                <tr>
                                                    <th>Adresse mail</th>
                                                    <th>Nom</th>
                                                    <th>Rôle</th>
                                                    <th>Image de profil</th>
                                                    <th>Bloqué</th>
                                                    <th>Actif</th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                {% for user in users %}
                                                    <tr><td>{{ user.email }}</td>
                                                        <td>{{ user.name }}</td>
                                                        <td>{{ user.roles |json_encode }}</td>
                                                        <td><img class="smallImages" src="{{ asset('img/' ~ user.profileImage) }}" alt=""></td>
                                                        <td>{{ user.locked }}</td>
                                                        <td>{{ user.active }}</td>
                                                        <td><a href="{{ path('updateUserAdmin', {'id': user.id}) }}">Modifier</a></td>
                                                        <td><a href="{{ path('deleteUser', {'id': user.id}) }}">Supprimer</a></td>
                                                    </tr>

                                                {% endfor %}
                                                </tbody>
                                                <a href="{{ path('userCreationPage') }}">Créer un Utilisateur</a>
                                            {% elseif app.request.attributes.get('_route') == 'adminGestionCommPage' %}
                                                <thead class="thead-light">
                                                <tr>
                                                    <th>Texte commentaire</th>
                                                    <th>Article associé</th>
                                                    <th>Utilisateur associé</th>

                                                </tr>
                                                </thead>
                                                <tbody>

                                                {% for comment in comments %}
                                                    <tr><td>{{ comment.texteCommentaire }}</td>
                                                        <td>{{ comment.idArticle.titreArticle }}</td>
                                                        <td>{{ comment.userID.name }}, {{ comment.userId.email }}</td>
                                                        <td><a href="{{ path('adminUpdateComment', {'id': comment.id}) }}">Modifier</a></td>
                                                        <td><a href="{{ path('adminDeleteComment', {'id': comment.id}) }}">Supprimer</a></td>
                                                    </tr>

                                                {% endfor %}
                                                </tbody>
                                            {% elseif app.request.attributes.get('_route') == 'adminGestionContactPage' %}
                                                <thead class="thead-light">
                                                <tr>
                                                    <th>Adresse mail</th>
                                                    <th>Nom</th>
                                                    <th>Message</th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                {% for contact in contacts %}
                                                    <tr><td>{{ contact.emailContact }}</td>
                                                        <td>{{ contact.nameContact }}</td>
                                                        <td>{{ contact.textContact }}</td>
                                                        <td><a href="{{ path('contactMessageUpdatePage', {'id': contact.id}) }}">Modifier</a></td>
                                                        <td><a href="{{ path('contactMessageDeletePage', {'id': contact.id}) }}">Supprimer</a></td>
                                                    </tr>

                                                {% endfor %}
                                                </tbody>
                                                <a href="{{ path('adminContactPage') }}">Créer un message de contact</a>
                                            {% else %}
                                            <th>Pas de table correspondante trouvée</th>
                                            {% endif %}


                                        </table>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}