<!DOCTYPE html>
<html>
    <head>

        <title>{% block title %}Le blog de Thibault{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
