{% extends 'base.html.twig' %}

{% block stylesheets %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Changer profil</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{{asset('css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{asset('css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{asset('css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{asset('css/owl.theme.default.min.css')}}">
    <link rel="stylesheet" href="{{asset('style.css')}}">
    <link rel="stylesheet" href="{{asset('responsive.css')}}">
    <link href="{{asset('css/all.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="wrapper">
  {% block header %}
      <header class="header">
          <div class="container">
              <div class="row">
                  <div class="col-md-1">
                      <div class="logo">
                          <h2><a href="{{ path('homePage') }}"><img class="home-icon" src="{{ asset('img/logo.png') }}" alt="home icon"/></a></h2>
                      </div>
                  </div>
                  <div class="col-md-11">
                      <div class="menu">
                          <ul>
                              {% for section in getSections() %}
                              <li class="{% if app.request.get('sectionName') is not null and app.request.get('sectionName') == section %}active{% endif %}">
                                  <a href="{{ path('showBySection', {'sectionName': section}) }}">{{ section }}</a>
                              </li>
                              {% endfor %}

                              <li class="{% if app.request.attributes.get('_route') == 'articleSearchPage' %}active{% endif %}">

                                 {#<form action="{{ path('articleSearchPage') }}" method="post" class="headerForm">
                                      <input class="headerSearchBar" type="text" name="titre_article" id="searchbar" />
                                      <button type="submit"><i class="fas fa-Search"></i></button>
                                  </form> #}
                                  <a href="{{ path('articleSearchPage') }}">Recherche d'article</a>
                              </li>
                              {% if not app.user %}
                                  <li class="{% if app.request.attributes.get('_route') == 'connectionPage' %}active{% endif %}">
                                      <a href="{{ path('connectionPage') }}">Connexion</a>
                                  </li>
                                  <li class="{% if app.request.attributes.get('_route') == 'registrationPage' %}active{% endif %}">
                                      <a href="{{ path('registrationPage') }}">Inscription</a>
                                  </li>
                              {% else %}
                                  {% if app.user.active == false %}
                                      <li><a href="{{ path('waitingProfileActivationPage') }}">Profil</a> </li>
                                  {% else %}
                                  <li class="{% if app.request.attributes.get('_route') == 'profilePage' %}active{% endif %}"><a href="{{ path('profilePage') }}">Profil</a></li>
                                  {% endif %}
                                  <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
                              {% endif %}
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </header>
  {% endblock %}


{% block content %}
{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-bg">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="footer-menu">
                                    <ul>
                                        <li class="active"><a href="{{ path('homePage') }}">Accueil</a></li>
                                        <li><a href="{{ path('contactPage') }}">contact</a></li>
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <li class="{% if app.request.attributes.get('_route') == 'adminGestionArticlesPage' %}active{% endif %}">
                                                <a href="{{ path('adminGestionArticlesPage') }}">Gestion Admin</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="footer-icon">
                                    <p><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></p>
                                </div>
                            </div>
                        </div> .
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('js/isotope.pkgd.js') }}"></script>
    <script src="{{ asset('js/active.js') }}"></script>
{% endblock %}
