{% header %}

<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-1">
                <div class="logo">
                    <h2><a href="{{ path('homePage') }}"><img class="home-icon" src="{{ asset('img/logo.png') }}" alt="home icon"/></a></h2>
                </div>
            </div>
            <div class="col-md-11">
                <div class="menu">
                    <ul>

                        {% for section in getSections() %}
                            <li class="{% if app.request.get('sectionName') is not null and app.request.get('sectionName') == section %}active{% endif %}">
                                <a href="{{ path('showBySection', {'sectionName': section}) }}">{{ section }}</a>
                            </li>
                        {% endfor %}
                        <li>
                            <form action="" method="post" class="headerForm">
                                <input class="headerSearchBar" type="text" name="searchbar" id="searchbar" />
                                <button type="submit"><i class="fas fa-search"></i></button>
                            </form>
                        </li>
                        {% if not app.user %}
                            <li class="{% if app.request.attributes.get('_route') == 'connectionPage' %}active{% endif %}">
                                <a href="{{ path('connectionPage') }}">Connexion</a>
                            </li>
                            <li class="{% if app.request.attributes.get('_route') == 'inscriptionPage' %}active{% endif %}">
                                <a href="{{ path('registrationPage') }}">Inscription</a>
                            </li>
                        {% else %}
                            <li class="{% if app.request.attributes.get('_route') == 'profilePage' %}active{% endif %}"><a href="{{ path('profilePage') }}">Profil</a></li>
                            <li><a href="{{ path('logoutLink') }}">Se déconnecter</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

{% endblock %}
